In [18]:
import numpy as np

In [26]:
s = ['She is going to market',
     ' She is going to my house and then going to my friend house' ,
     'Market is near my house',
     'He is going to his house and then market']

In [27]:
s = [x.lower() for x in s] # Converting all letters to lowercase

In [28]:
op = []

for i in s:
    s_split = i.lower().split()
    op = op+s_split # Joining the lists
    un,c = np.unique(op,return_counts=True) 
#u=[]
# for i in un:
#     if(len(i)!=1):
#         u.append(i)
print(un)

['and' 'friend' 'going' 'he' 'his' 'house' 'is' 'market' 'my' 'near' 'she'
 'then' 'to']

In [31]:
# create a dictionary of words and their occurence for each document in the corpus 
import pandas as pd
df = pd.DataFrame() # Empty DataFrame for appending final dataframe
em_list = [] # Empty List for appending the final dictionary bfr appending it to DF
for i in range(len(s)):
    numOfWordsA = dict.fromkeys(un, 0)
    for word in s[i].split():
        numOfWordsA[word] += 1
    em_list.append(numOfWordsA)
df = df.append(em_list)
df

   and  friend  going  he  his  house  is  market  my  near  she  then  to
0    0       0      1   0    0      0   1       1   0     0    1     0   1
1    1       1      2   0    0      2   1       0   2     0    1     1   2
2    0       0      0   0    0      1   1       1   1     1    0     0   0
3    1       0      1   1    1      1   1       1   0     0    0     1   1

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
op = v.fit_transform(s)
op = op.toarray()
df = pd.DataFrame(op,columns= v.get_feature_names_out())
df

   and  friend  going  he  his  house  is  market  my  near  she  then  to
0    0       0      1   0    0      0   1       1   0     0    1     0   1
1    1       1      2   0    0      2   1       0   2     0    1     1   2
2    0       0      0   0    0      1   1       1   1     1    0     0   0
3    1       0      1   1    1      1   1       1   0     0    0     1   1